ion-content.cards-bg {
  background-color: #f4f4f7;
  margin: 0%;
  padding: 0%;
  width: 100%;
}

.rose{
  background-color: coral;
}
page-parking{
  #map {
    width: 100%;
    height: 300px;

  }
}
