<ion-header>

  <ion-navbar>
    <ion-title>Sync-City</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card class="cards-bg">
    <div #map id="map"></div>
    <ion-list>
      <ion-item *ngIf="!isMarkerClicked()">
        <ion-item>
          <ion-row>
            <ion-col>
              <h2>{{parkingData?.name.value | uppercase}}</h2>
              <p>{{parkingData?.type}}</p>
              <ion-item>
                <ion-icon color="primary" name="car" large item-start></ion-icon>
                Total Spots
                <ion-badge item-end>{{parkingData?.totalSpotNumber.value}}</ion-badge>
              </ion-item>
              <ion-item>
                <ion-icon color="secondary" name="car" large item-start></ion-icon>
                Available Spots
                <ion-badge item-end>{{parkingData?.availableSpotNumber.value}}</ion-badge>
              </ion-item>

            </ion-col>
          </ion-row>
        </ion-item>
      </ion-item>
      <ion-item-sliding *ngFor="let localBus of localBuses">
        <ion-item (click)="onClickSchedule( localBus )">
          <ion-icon color= "danger" name="bus" item-left></ion-icon>
          <h2>{{localBus.id}}</h2>
          <p>{{localBus.busLineType.value}}</p>
        </ion-item>
        <ion-item-options>
          <button ion-button color="danger" (click)="onRemoveFromFavourites(localBus)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding *ngFor="let bus of cityBuses">
        <ion-item (click)="onClickSchedule( bus )">
          <ion-icon color= "danger" name="bus" item-left></ion-icon>
          <h2>{{bus.id}}</h2>
          <p>{{bus.busLineType.value}}</p>
        </ion-item>
        <ion-item-options>
          <button ion-button color="danger" (click)="onRemoveFromFavourites(bus)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding *ngFor="let metro of metros">
        <ion-item (click)="onClickSchedule( metro )">
          <ion-icon color= "danger" name="train" item-left></ion-icon>
          <h2>{{metro.id}}</h2>
          <p>{{metro.direction.value}}</p>
        </ion-item>
        <ion-item-options>
          <button ion-button color="danger" (click)="onRemoveFromFavourites(metro)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card>
</ion-content>
